/* CSS Document */

html, body, ul, ol, li, p, h1 , h2, h3, h4, h5, h6, form, fieldset, a, div, img, blockquote
{
	margin: 0px;
	padding: 0px;
	border: 0px;
}

html, body
{
	font-family: Arial, Helvetica, sans-serif;
	background: #fff url(../images/bg.jpg) top repeat-x;
}

body
{
	font-size: 12px;
}

.clear
{
	clear: both;
	font-size: 0;
	height: 0;
}

.center
{
	text-align: center;
	margin: 0 auto;
}

a
{
	color: #161616;
}

/*************************************************** Typography ***************************************************/

h1, h2, h3, h4, h5
{
	color: #fff;
	padding-top: 16px;
	padding-bottom: 8px;
	font-weight: normal;
}

h1
{
	padding-top: 10px;
	font-size: 30px;	
	padding-bottom: 2px;
}

h2
{
	font-size: 24px;
}

h3
{
	font-size: 20px;
}

h4
{
	font-size: 16px;
}

h5
{
	font-size: 14px;
}

h6
{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
}

p
{
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 6px;
	padding-bottom: 14px;
	line-height: 1.5;
}


/*************************************************** Layout Divs ***************************************************/

#wide-main-wrapper
{
	width: 1000px;
	margin: 0 auto;
}

#main-wrapper
{
	width: 890px;
	margin: 0 auto;
}

#logo
{
	width: 100px;
	height: 57px;
	float: left;
	margin-top: 40px;
	margin-left: 7px;
	color:#00CCFF;
	font-size:40px;
}

#logo a
{
	color:#377696;
	font-size:40px;
	text-decoration:none;
}

#logo span{
	color:#fff;
}

#nav-wrapper
{
	width: 550px;
	height: 33px;
	float: right;
	margin-top: 46px;
	background-color: #377696;
}

#content-area
{
	width: 890px;
	padding-top: 28px;
	padding-bottom: 12px;
}

.bottom-panel
{
	background: #d3e4ed url(../images/bottom-panel-galaxy.gif) no-repeat;
	width: 294px;
	margin-right: 4px;
	float: left;
	min-height: 153px;
  	height: auto !important;
  	height: 153px;
}

/*************************************************** Main Content Styles ***************************************************/

#content-area ul
{
	padding: 5px 30px 20px 30px;
}

#content-area ul li
{
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
	padding-top: 8px;
	padding-bottom: 3px;
	padding-left: 22px;
	background: url(../images/list-arrow.gif) left no-repeat;
	list-style: none;
}

#content-area img.home-photo
{
	float: left;
	padding-right: 28px;
}

#content-area a.click-more
{
	background: url(../images/more-button.gif) no-repeat;
	height: 28px;
	width: 180px;
	padding: 7px 25px 7px 36px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	margin-left: 250px;
}

#content-area a.tryitnow
{
	background: url(../images/more-button.gif) no-repeat;
	height: 28px;
	width: 180px;
	padding: 7px 25px 7px 36px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	margin-left: 150px;
}

#content-area p.footnote
{
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin-top: 6px;
	padding-bottom: 14px;
	line-height: 1.5;
}

#content-area a:hover.click-more
{
	color: #204b61;
}

#content-area #content-top
{
	background: url(../images/content-top.gif) no-repeat;
	height: 9px;
	width: 890px;
	font-size: 1px;
}

#content-area #content-main
{
	background: #51859f url(../images/content-about-bg.jpg) bottom no-repeat;
	min-height: 261px;
  	height: auto !important;
  	height: 261px;
	width: 860px;
	color: #fff;
	padding: 0 0 0 30px;
	margin-bottom: 15px;
}

#content-area #content-column p
{
	width: 300;
}

#content-area #content-main p (line 223)

{

width: 550px;

}

/************************************************** Bottom Panel Styles **************************************************/

.bottom-panel#last
{
	margin-right: 0;
}

.bottom-panel h4
{
	padding-left: 51px;
	padding-top: 6px;
	padding-bottom: 14px;
}

.bottom-panel p
{
	color: #191919;
	font-size: 11px;
	line-height: 1.3;
	margin: 0;
	padding-bottom: 12px;
}



.bottom-panel .panel-content
{
	width: 252px;
	margin: 0 auto 0 auto;
}

.bottom-panel ul
{
	padding: 0 10px 0 10px;
}

.bottom-panel ul li
{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	color: #161616;
	padding-top: 0px;
	padding-bottom: 2px;
	padding-left: 18px;
	background: url(../images/bottom-panel-list-arrow.gif) left no-repeat;
	list-style: none;
	background-position:left top;
}

#bottom-panel a.click-more
{
	background: url(../images/more-button.gif) no-repeat;
	height: 28px;
	width: 180px;
	padding: 7px 25px 7px 36px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
	margin-left: 50px;
}


/*************************************************** Navigation Styles ***************************************************/

#nav-right
{
	background: url(../images/nav-bg-right.gif) right no-repeat;
	float: right;
	height: 33px;
	width: 10px;
}

#navigation
{
	width: 530px;
	height: 33px;
	float: left;
	background: #377696 url(../images/nav-bg-left.gif) left no-repeat;
}

#navigation ul
{
	height: 33px;
	line-height: 33px;
	margin: 0;
	display: inline;
	float: left;
	width: 520px;
	margin-left: 20px;
	padding-right: 0;
}

#navigation ul li
{
	display: inline;
	float: left;
}

#navigation ul li a:link,
#navigation ul li a:visited
{
	display: inline;
	float: left;
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	text-align: center;	
	margin-right: 1px;
	padding: 0 14px 0 10px;
	background: url(../images/nav-divide.gif) right 15px no-repeat;
}

#navigation ul li a#contact-link
{
	background: none;
	padding-right: 0;
}

#navigation ul li a:hover
{
	color: #98bfe7;
}

#home #navigation ul li a#home-link, #about #navigation ul li a#about-link
{
	color: #98bfe7;
}.tiny {
	font-size: 10px;
}

.my-progress-class 
{
    background: white url(../images/PleaseWait.gif) top left no-repeat;
}

.x-column-header-checkbox {display:none;}  