h1,h2,h3,h4,h5,h6,p, body, tr, td, ul, li {FONT-FAMILY: arial,helvetica,sans-serif}

/*
UNKNOWN {
	BACKGROUND-COLOR: white; MARGIN: 0.12in; WORD-SPACING: 1em; COLOR: black; LETTER-SPACING: 0.1em
}
*/
H1 {
	FONT-WEIGHT: 700; FONT-SIZE: 18pt; COLOR: #003366; FONT-STYLE: normal; 
}
H1.custom {
	FONT-WEIGHT: normal; FONT-SIZE: 36pt; FONT-STYLE: normal; 
}
H1.custom2 {
	FONT-WEIGHT: normal; FONT-SIZE: 42pt; FONT-STYLE: normal; 
}
H1.custom3 {
	FONT-WEIGHT: normal; FONT-SIZE: 6pt; FONT-STYLE: normal; 
}
H2 {
	FONT-WEIGHT: 700; FONT-SIZE: 16pt; COLOR: #003366; FONT-STYLE: normal; 
}
H3 {
	FONT-WEIGHT: 700; FONT-SIZE: 14pt; COLOR: #003366; FONT-STYLE: normal; 
}
H4 {
	FONT-WEIGHT: 700; FONT-SIZE: 12pt; COLOR: #003366; FONT-STYLE: normal; 
}
H5 {
	FONT-WEIGHT: 700; FONT-SIZE: 10pt; COLOR: #003366; FONT-STYLE: normal; 
}
H6 {
	FONT-WEIGHT: 700; FONT-SIZE: 8pt; COLOR: #003366; FONT-STYLE: normal; 
}
DIV {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-STYLE: normal; 
}
SPAN {
	FONT-WEIGHT: normal; FONT-SIZE: 10pt; FONT-STYLE: normal; 
}
P,TR, TD {
	FONT-WEIGHT: normal; FONT-SIZE: 12pt; FONT-STYLE: normal; 
}
HR {
	COLOR: #ffcc00
}

LI {
	MARGIN-TOP:0px;  MARGIN-BOTTOM:0px; 
}
UL, P {
	MARGIN-TOP:4px;  MARGIN-BOTTOM:4px;
}
H3, H4 {
	MARGIN-TOP:8px;  MARGIN-BOTTOM:6px;
}
  .tiny		{FONT-SIZE: 7pt;}
  .tinylink	{FONT-SIZE: 7pt; COLOR:#aaaaff;}
  .navlink	{MARGIN-TOP: 0px; MARGIN-BOTTOM: 1px; FONT-SIZE:11pt; 
                 BACKGROUND-COLOR:#6ba5d7; text-align: center}
  .navlink A	{TEXT-DECORATION:none;COLOR:#FFFFFF;}
  .navlink A:hover { COLOR: #24386d; }
  .helplink	{MARGIN-TOP: 0px; MARGIN-BOTTOM: 1px; FONT-SIZE:11pt; 
                 BACKGROUND-COLOR:#24386d; text-align: center}
  .helplink A	{TEXT-DECORATION:none;COLOR:#FFFFFF;}
  .helplink A:hover { COLOR: #99FFCC; }
  .nvolink	{MARGIN-TOP: 0px; MARGIN-BOTTOM: 1px; FONT-SIZE:9pt; 
                 PADDING-LEFT: 2px;
                 PADDING-RIGHT: 2px; }
  .nvolink A	{TEXT-DECORATION:none;COLOR:#6ba5d7;}
  .nvolink A:hover { COLOR: #24386d; }
  .section	{MARGIN-TOP: 2px; MARGIN-BOTTOM: 2px; BACKGROUND-COLOR:#DDDDDD;}
   .searchbox	{WIDTH: 85px;}
  .nvoapptitle  { color: #24386d; 
                  font-weight: bolder; font-size: 14pt;
                  text-align: center; margin-left: 2px; margin-right: 2px; }
  p 		{MARGIN-TOP: 10px; MARGIN-BOTTOM: 10px;}

  #header	{POSITION: absolute; TOP:  0px; LEFT:  2px;}
  #search	{POSITION: absolute; TOP: 26px; LEFT:648px; WIDTH:160PX;}
  #navibar	{MARGIN-TOP: 0px;POSITION: absolute; TOP: 96px; LEFT:154px; 
                 WIDTH: 450px; PADDING:0px }
  #menubar	{POSITION: absolute; TOP: 96px; LEFT:  0px; WIDTH: 132px; 
                 PADDING:4px; BACKGROUND-COLOR:#EEEEEE;}
  			 
  #features	{POSITION: absolute; TOP:128px; LEFT:646px; WIDTH: 132px;}
  #main		{POSITION: absolute; TOP:128px; LEFT:153px; WIDTH: 641px; 
                 PADDING:8px;}
  .th           {font-weight:800; background-color:#DDDDEF;}
  .td           {background-color:#EEEEEE;}
  P,TR,TD,DT,DD {FONT-WEIGHT: normal; FONT-SIZE: 12pt; FONT-STYLE: normal; }
